:root {
    --vp-c-purple-1: #7bb929;
    --vp-c-purple-2: #7bb929;
    --vp-c-purple-3: #7bb929;
    --vp-c-indigo-1: #7bb929;
    --vp-c-indigo-2: #7bb929;
    --vp-c-indigo-3: #7bb929;
    --vp-home-hero-name-color: #7bb929;
}